doctype html

div.wrapper(
    ng-controller="CalendarController as ctrl"
    ng-init="section='calendar'"
)
    tg-project-menu
    sidebar.menu-secondary
        div Hello Human
    section.main
        div Hello Human