doctype html

div.home-wrapper.centered
    div.menu-secondary
        div.calendar(ui-calendar="uiConfig.calendar")
                
    div.duty-summary
        h1
            span.green {{"HOME.DASHBOARD" | translate}}
        tg-working-task.dashboard-container