doctype html

div.home-wrapper.centered
    div.menu-secondary
        tg-planner-calendar

        //- div(id="external-events")
        //-     div
        //-         a(class="fc-event" data-duration="01:30") My Event 1
        //-         a(class="fc-event" data-duration="01:30") My Event 2
                
    div.duty-summary
        h1
            span.green {{"HOME.DASHBOARD" | translate}}
        tg-working-task.dashboard-container